<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row card">
<a href="#" class="list-group-item clearfix"
*ngFor="let k of recipes">
    <img src="{{k.imagePath}}" alt="{{k.description}}" class="card-img-top" sizes="50 50 px">
    <div class="col-xs-12 card-body">
                <h4 class="list-group-item-danger card-title"> {{ k.name }}</h4>
                <p class="list-group-item-danger"> 
                    {{ k.description}}
                </div>
            </a>
        </div>
        <app-recipes-item></app-recipes-item>